{% extends "base.html" %}

{% block head %}
    {% with page_title="Смена пароля" css_file="form" %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block main %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ page_title }}</h1>
        </div>
        <div class="form-container">
            <form class="form" method="POST">
                {% csrf_token %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_oldPassword" text="Старый пароль" type="password" name="old_password"  %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_new_password1" text="Новый пароль" type="password" name="new_password1"  %}
                <div style="padding-bottom: 20px">
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.<br></span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.<br></span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.<br></span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.<br></span>
                    <span class="form__input-info" style="color: red">При успешной смене пароля вы будете перенаправлены на главную страницу.<br></span>
                </div>
                {% include "includes/reg_or_auth_form_input.html" with id="id_new_password2" text="Подтверждение нового пароля" type="password" name="new_password2"  %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block common_js_imports %}
{% endblock %}
{% block specific_js_imports %}
{% endblock %}
