{% extends "base.html" %}

{% block head %}
    {% with page_title="Регистрация" css_file="form" %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block main %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ page_title }}</h1>
        </div>
        <div class="form-container">
            <form class="form" method="POST">
                {% csrf_token %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_first_name" text="Имя" type="text" name="first_name"  %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_username" text="Имя пользователя" type="text" name="username"  %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_email" text="Адрес электронной почты" type="email" name="email"  %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_password1" text="Пароль" type="password" name="password1"  %}
                {% include "includes/reg_or_auth_form_input.html" with id="id_password2" text="Пароль (повторно)" type="password" name="password2"  %}
                <div class="form__footer">
                    <button class="button button_style_blue">Создать аккаунт</button>
                </div>
            </form>
        </div>


    </main>
{% endblock %}

{% block common_js_imports %}
{% endblock %}
{% block specific_js_imports %}
{% endblock %}
