{% extends "base.html" %}
{% load static %}

{% block head %}
    {% with page_title=title css_file="single" %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block main %}
    <main class="main container">
    <div class="single-card__header-info">
        <h1 class="single-card__title">{{ title }}</h1>
    </div>
    <div class="single-card__section">
        <p class=" single-card__section-text">
        {% autoescape off %}
            {{ text }}
        {% endautoescape %}
        </p>
    </div>
</main>
{% endblock %}

{% block common_js_imports %}
    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>
{% endblock %}
