{% extends "base.html" %}
{% load static %}

{% block head %}
    {% with page_title="Список покупок" css_file="shopList" %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block main %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ page_title }}</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% for recipe in recipes %}
                    <li class="shopping-list__item" data-id="{{ recipe.id }}">
                        <div class="recipe recipe_reverse">
                            <img src="{{ recipe.image_url }}" alt="{{ recipe }}" class="recipe__image recipe__image_big">
                            <h3 class="recipe__title"><a href="{% url 'single_page' recipe.id %}">{{ recipe }}</a></h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} </p>
                        </div>
                        <a href="#" class="shopping-list__button link">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ request.path }}?download=True"><button class="button button_style_blue">Скачать список</button></a>
        </div>
    </main>
{% endblock %}

{% block specific_js_imports %}
    <script src="{% static './js/components/ShopList.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}
